<div class="container">

<div class="offset-md-3">
    <h3>Detalles del Producto</h3>
    <br>    
    <div>
        <label><b>ID : </b>{{producto.id}}</label>
    </div>
    <div>
        <label><b>Nombre del Producto : </b>{{producto.nombre}}</label>
    </div>
    <div>
        <label><b>Marca : </b>{{producto.marca}}</label>
    </div>
    <div>
        <label><b>Categoria : </b>{{producto.categoria}}</label>
    </div>
    <div>
        <label><b>Precio : </b>{{producto.precio}}</label>
    </div>
    <div>
        <label><b>Descripcion : </b>{{producto.descripcion}}</label>
    </div>
    <div>
        <label><b>Tipo : </b>{{producto.tipoProducto}}</label>
    </div>
</div>
</div>



